[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jairo/Desktop/cartas extra]
row=2
col=0

[/home/jairo/Desktop/leyes-de-los-exponentes-og.jpg]
row=3
col=11

[/home/jairo/Desktop/GjYEewdbQAAWkai.jpg]
row=2
col=1

[/home/jairo/Desktop/Screenshot_2025-02-01_21-38-53.png]
row=5
col=0

[/home/jairo/Desktop/linkcollector163.zip]
row=8
col=0

[/home/jairo/Desktop/yearssss.png]
row=0
col=1

[/home/jairo/Desktop/downloadList615.zip]
row=7
col=0

[/home/jairo/Desktop/126429805_p3.jpg]
row=3
col=1

[/home/jairo/Desktop/GjMUbr4bcAArLLE.jpg]
row=1
col=0

[/home/jairo/Desktop/conversionform.png]
row=4
col=0

[/home/jairo/Desktop/GiftqHpWAAANAa4.jpg]
row=6
col=0

[/home/jairo/Desktop/1727638203198.jpg]
row=1
col=1

[/home/jairo/Desktop/ACTEX FAM]
row=3
col=0

[/home/jairo/Desktop/Gi_vvCZbgAAdAXK.jpg]
row=0
col=0

