[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jairo/Desktop/GisNUSubsAAGXh8.jpg]
row=2
col=2

[/home/jairo/Desktop/to do flashcard]
row=4
col=2

[/home/jairo/Desktop/fechas.jpg]
row=2
col=0

[/home/jairo/Desktop/test2.py]
row=0
col=3

[/home/jairo/Desktop/1736155153806.png]
row=1
col=3

[/home/jairo/Desktop/test.py]
row=2
col=4

[/home/jairo/Desktop/cartas extra]
row=3
col=2

[/home/jairo/Desktop/linkcollector163.zip]
row=2
col=3

[/home/jairo/Desktop/1738156439540.jpg]
row=3
col=1

[/home/jairo/Desktop/R_FS.pdf]
row=4
col=0

[/home/jairo/Desktop/475740838_18500430358025020_7768052043977391250_n.jpg]
row=3
col=0

[/home/jairo/Desktop/downloadList615.zip]
row=3
col=3

[/home/jairo/Desktop/GiiMleca8AEXk4x.jpg]
row=1
col=0

[/home/jairo/Desktop/blackscholes2.png]
row=2
col=1

[/home/jairo/Desktop/1738461501178346.png]
row=1
col=4

[/home/jairo/Desktop/GirzCPva4AEB4z_.jpg]
row=1
col=2

[/home/jairo/Desktop/ACTEX FAM]
row=5
col=1

[/home/jairo/Desktop/Screenshot_2025-02-01_21-38-53.png]
row=5
col=3

[/home/jairo/Desktop/steam.desktop]
row=5
col=2

[/home/jairo/Desktop/nodomasi]
row=0
col=0

[/home/jairo/Desktop/GishKNEaMAA8XYd.jpg]
row=4
col=3

[/home/jairo/Desktop/blackscholes1.png]
row=1
col=1

[/home/jairo/Desktop/GiftqHpWAAANAa4.jpg]
row=0
col=4

[/home/jairo/Desktop/PA_FS.pdf]
row=5
col=0

[/home/jairo/Desktop/opr.png]
row=0
col=1

[/home/jairo/Desktop/Gissx6zbEAA07ex.jpg]
row=0
col=2

[/home/jairo/Desktop/MONTEPIO LUZ SAVINON IAP.pdf]
row=4
col=1

