[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jairo/Desktop/New Folder1]
row=0
col=0

[/home/jairo/Desktop/New Folder]
row=1
col=0

[/home/jairo/Desktop/NEWW]
row=2
col=0

[/home/jairo/Desktop/document.pdf]
row=3
col=0

